td {
  border: 1px grey solid;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: rgba(211, 211, 211, 0.303);
}

.name {
  width: 10%;
  font-weight: bolder;
  padding-bottom: 55px;
}

.description {
  width: 50%;
  font-weight: 400;
  font-size: 0.9rem;
}

.active {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  position: relative;
}

.mission {
  width: 20%;
}

.show {
  display: unset;
}

.hide {
  display: none;
}

.join,
.leave {
  border-radius: 4px;
  background: none;
}

.join {
  border-color: black;
}

.leave {
  border-color: red;
  color: red;
}
