
.imageDiv {
  width: 250px;
  height: 250px;
}

.image {
  width: 250px;
  height: 250px;
}

.button {
  width: 11.5rem;
  height: 2.063rem;

  /* margin: 0.75rem 0 0.563rem 3.688rem; */
  margin: 0.75rem 0 0.563rem 0;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: 0;
  font-size: 0.913rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;

  /* opacity: 0.7; */
  color: #fff;
}

.title {
  font-size: 1.8rem;
  margin-top: 0;
}

.description {
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;
}

.reserve {
  background-color: rgb(0 162 182);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 8px;
  line-height: 2.5rem;
  margin-right: 1rem;
  color: #fff;
  letter-spacing: 0.5px;
}
